<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wordpress-theme/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress-theme/index.php [L]
</IfModule>